In [34]:
# Data input and output

In [35]:
# CSV
# Excel
# HTML
# SQL

In [36]:
import pandas as pd

In [37]:
pd.read_csv('example.csv')

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15

In [38]:
df = pd.read_csv('example.csv')

In [39]:
df.to_csv('my_output', index=False)

In [40]:
pd.read_csv('my_output')

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15

In [80]:
pd.read_excel('excel_sample.xlsx', sheet_name='Sheet1')

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.