In [2]:
# Data input and output

In [3]:
# CSV
# Excel
# HTML
# SQL

In [4]:
import pandas as pd

In [5]:
pd.read_csv('example.csv')

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15

In [6]:
df = pd.read_csv('example.csv')

In [7]:
df.to_csv('my_output', index=False)

In [8]:
pd.read_csv('my_output')

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15

In [9]:
pd.read_excel('excel_sample.xlsx', sheet_name='Sheet1')

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [10]:
df.to_excel('excel_sample2.xlsx', sheet_name='NewSheet')

ModuleNotFoundError: No module named 'openpyxl'

In [16]:
data = pd.read_html('file:///C:/Users/wolz.CODElife/Desktop/LearningPython/DataScience/index.html')

In [20]:
data[0].head()

   ID Firstname Lastname
0   1      Joel  Adewole
1   2    Samuel  Adewole

In [21]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('sqlite:///:memory:')

In [25]:
df.to_sql('my_table', engine)

In [ ]:
sqldf = pd.read_sql('my_table', )