In [96]:
# DataFrames

In [97]:
import numpy as np
import pandas as pd

In [98]:
from numpy.random import randn

In [99]:
np.random.seed(101)

In [100]:
df = pd.DataFrame(randn(5,4), ["a", "b", "c", "d", "e"], ["w", "x", "y", "z"])

In [101]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [102]:
df["w"]

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [103]:
type(df["w"])

pandas.core.series.Series

In [104]:
type(df)

pandas.core.frame.DataFrame

In [105]:
df[["w", "z"]]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [106]:
df["new"] = df["w"] + df["y"]

In [107]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [108]:
df.drop("new", axis=1, inplace=True)

In [109]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [110]:
df.drop("e")

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [111]:
df.shape

(5, 4)

In [112]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [113]:
df.loc["a"]

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [114]:
df.iloc[3]

w    0.188695
x   -0.758872
y   -0.933237
z    0.955057
Name: d, dtype: float64

In [115]:
df.loc["b","y"]

-0.8480769834036315

In [116]:
df.loc[["a", "b"], ["w", "y"]]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077

In [122]:
df["sqrW"]  = pd.DataFrame([number**2 for number in df["w"]], ["a", "b", "c", "d", "e"])
df

          w         x         y         z      sqrW
a  2.706850  0.628133  0.907969  0.503826  7.327036
b  0.651118 -0.319318 -0.848077  0.605965  0.423955
c -2.018168  0.740122  0.528813 -0.589001  4.073003
d  0.188695 -0.758872 -0.933237  0.955057  0.035606
e  0.190794  1.978757  2.605967  0.683509  0.036402