In [1]:
#Operation in pandas

In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame({"col1": [1,2,3,4], 
                   "col2": [444, 555, 666, 444],
                   "col3": ["abc", "def", "ghi", "xyz"]})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [9]:
df["col2"].unique()

array([444, 555, 666], dtype=int64)

In [10]:
len(df["col2"].unique())

3

In [12]:
df["col2"].nunique()

3

In [16]:
df['col2'].value_counts()

444    2
666    1
555    1
Name: col2, dtype: int64

In [17]:
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [18]:
df['col1']>2

0    False
1    False
2     True
3     True
Name: col1, dtype: bool

In [ ]:
def times2(x):
    return x*2