In [6]:
# Multi-index DataFrame

In [14]:
import numpy as np
import pandas as pd

In [15]:
from numpy.random import randn

In [16]:
# Index Level
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [18]:
df = pd.DataFrame(randn(6,2), hier_index, ["a", "b"])

In [19]:
df

             a         b
G1 1  0.195872  1.922826
   2 -0.601125  0.811234
   3 -0.014425  0.992765
G2 1 -2.098959  0.763843
   2  0.314204 -1.053122
   3  2.484200 -0.274948

In [25]:
df.index.names = ["Groups", "Numbers"]

In [26]:
df

                       a         b
Groups Numbers
G1     1        0.195872  1.922826
       2       -0.601125  0.811234
       3       -0.014425  0.992765
G2     1       -2.098959  0.763843
       2        0.314204 -1.053122
       3        2.484200 -0.274948

In [30]:
df.xs(1, level="Numbers")

               a         b
Groups
G1      0.195872  1.922826
G2     -2.098959  0.763843